.posts {
  
  @include lg-min {
    padding-top: 100px;
    padding-bottom: 90px;
  }
  @include lg-md {
    padding-top: 79px;
    padding-bottom: 80px;
  }
  @include md-sm {
    padding-top: 59px;
    padding-bottom: 80px;
  }
  &__container {
    @extend %container;

    @include md {
      padding-right: 22px;
      padding-left: 22px;
    }
  }
}

.posts__title {
  font-family: $font-header;
  color: #2d3651;
  margin-top: 3px;
  letter-spacing: 0.1em;
  
  @include lg-min {
    font-size: 2.5rem;
    margin-bottom: 56px;
  }
  @include lg-md {
    font-size: 2rem;
    margin-bottom: 46px;
  }
  @include md {
    font-size: 1.5rem;
    margin-bottom: 31px;
  }
}

.posts__grid {
  display: grid;
  gap: 20px;
  
  @include lg-min {
    grid-template-areas: "a1 a1 a2 a3" "a4 a5 a6 a6";
    grid-template-columns: repeat(4, 1fr);
  }
  @include lg-md {
    grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6";
    grid-template-columns: repeat(3, 1fr);
  }
  @include md-sm {
    grid-template-areas: "a1 a2" "a3 a4" "a5 a6";
    grid-template-columns: repeat(2, 1fr);
  }
  @include sm {
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6";
        grid-template-columns:  1fr;
  }

}


.post-item {

  background-color: #f2f2f2;
  transition: background-color 0.5s;
 
  
  &:hover {
    background-color: #d8d8d8;   
  }

  &__link {
    display: grid;
    height: 100%;
    grid-template-rows: 300px 1fr;
    overflow: hidden;
    
  }

  &__image {
      display: flex;
      align-content: center;
    justify-content: center;
    background-color: #2d3651;

    overflow: hidden;
    

    img {
      width: 100%;
      transition: transform 0.5s;
      object-fit: cover;
      
    }
  }

  &__content {
    padding: 20px;
    color: #637588;
    letter-spacing: 0.05em;
    line-height: 1.25;

    display: grid;
    align-content: center;

    h3 {
      font-family: "Roboto Slab", serif;
      font-size: 1.125rem;
      font-weight: bold;
      text-align: center;

      // @include lg-min {

      // }
      @include lg-md {
        margin-bottom: 11px;
      }
    }
    p {
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      letter-spacing: 0.005em;
      margin-top: 6px;
      text-align: center;

      @include lg-md {
        // margin: 10px 0 0 0;
        margin-top: 11px;
      }
    }
  }
}
.post-item:hover h3 {
    color: #2d3651;
  }
  
  .post-item:hover p {
    color: #2d3651;
  }
.post-item:hover .post-item__image img {
    transform: scale(1.1);
  }
.post-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.post-item:nth-of-type(1) {
  grid-area: a1;
}

.post-item:nth-of-type(2) {
  grid-area: a2;
}

.post-item:nth-of-type(3) {
  grid-area: a3;
}

.post-item:nth-of-type(4) {
  grid-area: a4;
}

.post-item:nth-of-type(5) {
  grid-area: a5;
}

.post-item:nth-of-type(6) {
  grid-area: a6;
}



  