.posts {
  @include lg-min {
    padding-top: 100px;
    padding-bottom: 101px;
  }
  @include lg-md {
    padding-top: 78px;
    padding-bottom: 80px;
  }
  @include md-sm {
    padding-top: 58px;
    padding-bottom: 60px;
  }
  @include sm {
    padding-top: 56px;
    padding-bottom: 60px;
  }
  &__container {
    @extend %container;
    @include md {
      padding-right: 22px;
      padding-left: 22px;
    }
  }
}

.posts__title {
  margin-top: 2px;

  letter-spacing: 0.1em;

  color: $color-primary;

  font-family: $font-header;

  @include lg-min {
    margin-bottom: 58px;

    font-size: 2.5rem;
  }
  @include lg-md {
    margin-bottom: 45px;

    font-size: 2rem;
  }
  @include md {
    margin-bottom: 30px;

    font-size: 1.5rem;
  }
  @include sm {
    margin-bottom: 35px;

    text-align: center;

    font-size: 1.5rem;
  }
}

.posts__grid {
  display: grid;

  gap: $gap;
  @include lg-min {
    grid-template-areas: "a1 a1 a2 a3" "a4 a5 a6 a6";
    grid-template-columns: repeat(4, 1fr);
  }
  @include lg-md {
    grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6";
    grid-template-columns: repeat(3, 1fr);
  }
  @include md-sm {
    grid-template-areas: "a1 a2" "a3 a4" "a5 a6";
    grid-template-columns: repeat(2, 1fr);
  }
  @include sm {
    max-width: 532px;

    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6";
    grid-template-columns: 1fr;
    // max-height: 350px;
    // margin-left: -2px;
  }
}


.post-item {
  transition: background-color 0.5s;

  background-color: #f2f2f2;


  &:hover {
    background-color: #d8d8d8;
  }

  &__link {
    display: grid;
    overflow: hidden;

    height: 100%;

    grid-template-rows: 300px 1fr;
  }

  &__image {
    display: flex;
    overflow: hidden;
    align-content: center;
    justify-content: center;

    background-color: $color-primary;


    img {
      width: 100%;

      transition: transform 0.5s;

      object-fit: cover;
    }
  }

  &__content {
    display: grid;
    align-content: center;

    padding: $gap;

    letter-spacing: 0.05em;

    color: #637588;

    line-height: 1.25;

    h3 {
      text-align: center;

      font-family: $font-header;
      font-size: 1.125rem;
      font-weight: bold;

      @include lg-min {
        margin-bottom: 9.5px;

        letter-spacing: 0.048em;

        line-height: 1.15;
      }
      @include lg-md {
        margin-bottom: 10px;
      }
      @include md-sm {
        line-height: 1.145em;
      }
    }
    p {
      margin-top: 6px;

      text-align: center;
      letter-spacing: 0.005em;

      font-family: $font-main;
      font-size: 1rem;

      @include lg-min {
        margin-top: 9.5px;

        letter-spacing: 0.00009em;
      }
      @include lg-md {
        // margin: 10px 0 0 0;
        margin-top: 10px;

        letter-spacing: 0.001em;
      }
      @include md-sm {
        letter-spacing: 0.0005em;
      }
      @include sm {
        letter-spacing: 0.000005em;
      }
    }
  }
}
.post-item:hover h3 {
  color: $color-primary;
}

.post-item:hover p {
  color: $color-primary;
}
.post-item:hover .post-item__image img {
  transform: scale(1.1);
}
.post-button {
  display: flex;
  justify-content: center;

  margin-top: $gap;

  @include md-sm {
    margin-top: $gap - 1px;
  }
  @include sm {
    max-width: 532px;
  }

  &__link {
    padding-bottom: 2px;
    padding-left: 3px;
    // overflow: hidden;
  }
}


.post-item:nth-of-type(1) {
  grid-area: a1;
}

.post-item:nth-of-type(2) {
  grid-area: a2;
}

.post-item:nth-of-type(3) {
  grid-area: a3;
}

.post-item:nth-of-type(4) {
  grid-area: a4;
}

.post-item:nth-of-type(5) {
  grid-area: a5;
}

.post-item:nth-of-type(6) {
  grid-area: a6;
}
