.about {
  letter-spacing: 0.055em;
  line-height: 1.34;
  &__container {
    padding: 100px 20px;
    min-height: 652px;
    @extend %container;

    @include sm-min {
      display: flex;
      justify-content: space-between;
    }
    @include sm {
      display: block;
    }
  }
}
.about-article {
  position: realtive;
  max-width: 936px;
  font-family: $font-main;
  font-size: 1.125rem;
  color: $color-gray;

  @include lg-min {
    font-size: 1.125rem;
  }
  @include lg-md {
    font-size: 1.125rem;
  }
  @include md {
    font-size: 1rem;
  }
  @include sm {
    margin-bottom: 5px;
  }

  &__title {
    font-family: $font-header;
    font-weight: bold;
    color: $color-primary;
    margin-bottom: 50px;
    margin-top: 0px;
    letter-spacing: 0.09em;
    line-height: 1.2em;

    @include lg-min {
      font-size: 2.5rem;
    }
    @include lg-md {
      font-size: 2rem;
    }
    @include md {
      font-size: 1.5rem;
    }
    @include sm {
        text-align: center;
      }
  }
  &__text p:last-of-type {
    margin-bottom: 0;
  }

}
.about-border {
  margin-left: 45px;
  margin-right: 39px;

  @include sm {
    display: none;
  }
  &__item {
    margin-top: 145px;
    width: 1px;
    height: 200px;
    background-color: #c5c5c5;
  }
}
.about-item {
  position: relative;
  padding-top: 3px;

  @include sm {
    display: flex;
    justify-content: center;
  }

  &__img {
    position: relative;

    max-width: 271px;
    max-height: 487.08px;
  }
}
