.form {
  &__container {
    @extend %container;

    min-height: 120px;

    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;

    
    @include md-min {
        align-items: center;
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(60px, auto);
    }
    @include md {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @include sm {
        grid-template-columns: 1fr;
    }
  }
}
.form-item {
    &:nth-of-type(1) {
        @include md-sm {
            grid-column: 1 / 3;
            }
    }
  &__input,
  .batton {
    height: 60px;
    width: 100%;
    color: #ffffff;
    letter-spacing: 0.1em;
    font-size: 1.125rem;

    transition: 0.8s;
  }
  &__input {
    padding-left: 31px;
    background-color: #38405a;
    border: 2px solid #38405a;
    border-bottom: 2px solid #4a5269;
    &::placeholder {
      color: #9a9eab;
    }

    &:active,
    &:hover {
      background-color: #4c546b;
      border: 2px solid #5e657a;
      border-bottom: 2px solid #ffffff;
      &::placeholder {
        color: #ffffff;
      }
    }
  }
}
.batton {
  cursor: pointer;
  background-color: #424b63;
  border: 2px solid #424b63;
  border-bottom: 2px solid #5e657a;
}
.batton:hover {
  background-color: $color-accent;
  border: 2px solid $color-light;
}