.about {
  letter-spacing: 0.055em;

  line-height: 1.3;
  &__container {
    min-height: 652px;

    @extend %container;
    @include lg-min {
      padding: 100px 20px;
    }
    @include lg-md {
      padding: 80px 20px;
    }
    @include md-sm {
      padding: 58px 20px 37px 20px;
    }
    @include sm-min {
      display: flex;
      justify-content: space-between;
    }
    @include sm {
      display: block;

      padding: 58px 20px 68px 20px;
    }
  }
}
.about-article {
  position: realtive;

  max-width: 936px;

  color: $color-gray;

  font-family: $font-main;
  font-size: 1.125rem;

  @include lg-min {
    font-size: 1.125rem;
  }
  @include lg-md {
    // line-height: 1.15;
    font-size: 1.125rem;
  }
  @include md {
    font-size: 1rem;
    line-height: 1.5em;
  }
  @include sm {
    margin-bottom: 5px;

    letter-spacing: 0.05em;
  }

  &__title {
    margin-top: 0;

    letter-spacing: 0.1em;

    color: $color-primary;

    font-family: $font-header;
    font-weight: bold;
    line-height: 1.2em;

    @include lg-min {
      margin-bottom: 50px;

      font-size: 2.5rem;
    }
    @include lg-md {
      margin-bottom: 34px;

      letter-spacing: 0.1em;

      font-size: 2rem;
      line-height: 1.25;
    }
    @include md {
      margin-bottom: 27px;

      letter-spacing: 0.1em;

      font-size: 1.5rem;
      line-height: 1.3;
    }
    @include sm {
      margin-bottom: 27px;

      text-align: center;
    }
  }
  &__text {
    @include md {
      margin-top: -2px;

      letter-spacing: 0.09;
    }
    @include lg-min {
      line-height: 1.325em;
    }
    p:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}


.about-border {
  @include lg-min {
    margin-right: 39px;
    margin-left: 45px;
  }
  @include lg-md {
    margin-top: -40px;
    margin-right: 41px;
    margin-left: 35px;
  }
  @include md {
    margin-top: -53px;
    margin-right: 55px;
    margin-left: 20px;
  }
  @include sm {
    display: none;

    margin-right: 39px;
  }

  &__item {
    width: 1px;
    height: 200px;
    margin-top: 145px;

    background-color: #c5c5c5;
  }
}
.about-item {
  padding-top: 3px;

  @include sm {
    display: flex;
    justify-content: center;

    margin-top: 34px;
  }

  &__img {
    @include lg-min {
      max-width: 271px;
      max-height: 487.08px;
    }
    @include lg-md {
      max-width: 255px;
      max-height: 459px;
      margin-top: -1px;
    }
    @include md-sm {
      max-width: 236px;
      max-height: 425px;
      margin-top: -25px;
      margin-right: 2px;
    }
    @include sm {
      max-width: 271px;
      max-height: 487px;
      margin: 0 141px 0 164px;
    }
  }
}

.about-article p {
  @media (max-width: 991.8px) and (min-width: 768px) {
    line-height: 1.3;
  }
}
