.about {
  letter-spacing: 0.055em;
  line-height: 1.3;
  &__container {
    min-height: 652px;
    @extend %container;
    
    @include lg-min {
      padding: 100px 20px;
    }
    @include lg-md {
      padding: 80px 20px;
    }
    @include md-sm {
      padding: 60px 20px;
    }
    @include sm-min {
      display: flex;
      justify-content: space-between;
    }
    @include sm {
      display: block;
    }
  }
}
.about-article {
  position: realtive;
  max-width: 936px;
  font-family: $font-main;
  font-size: 1.125rem;
  color: $color-gray;
  
  
  @include lg-min {
    font-size: 1.125rem;
  }
  @include lg-md {
    // line-height: 1.15;
    font-size: 1.125rem;
  }
  @include md {
    font-size: 1rem;
  }
  @include sm {
    margin-bottom: 5px;
  }

  &__title {
    font-family: $font-header;
    font-weight: bold;
    color: $color-primary;
    margin-top: 0px;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    
    @include lg-min {
      margin-bottom: 50px;
      font-size: 2.5rem;
    }
    @include lg-md {
      margin-bottom: 34px;
      font-size: 2rem;
      line-height: 1.25;
      letter-spacing: 0.097em;
    }
    @include md {
      font-size: 1.5rem;
    }
    @include sm {
        text-align: center;
      }
  }
//   &__text p:first-of-type {
// margin-top: -14px;    
//   }
  
    
  }


.about-border {
  @include lg-min {
    margin-left: 45px;
    margin-right: 39px;
  }
  @include lg-md {
    margin-left: 35px;
    margin-right: 40px;
    margin-top: -40px;
  }
  @include md {
    margin-right: 39px;
  }
  @include sm {
    margin-right: 39px;
  }
  
  @include sm {
    display: none;
  }
  &__item {
    margin-top: 145px;
    width: 1px;
    height: 200px;
    background-color: #c5c5c5;
  }
}
.about-item {
  
  padding-top: 3px;

  @include sm {
    display: flex;
    justify-content: center;
  }

  &__img {
    
    @include lg-min {
      max-width: 271px;
    max-height: 487.08px;
    }
    @include lg-md {
      max-width: 255px;
    max-height: 459px;
    }
    @include md {
    }
    @include sm {
    }
  }
}



// .about-article__text p:first-of-type {
//   @include lg-md {
//     // margin-bottom: 0;
//     margin-top: -14px;
//   }
// }
// .about-article__text p {
//     @include lg-min {
//       line-height: 1.7em;
//     }
//     @include lg-md {
//       line-height: 1.15;
      
//     }
//     @include md {
//     }
//     @include sm {
//     }
//   }
.about-article p {
@media (max-width: 991.8px) and (min-width: 768px) {

    line-height: 1.3;
    // margin-top: -16px;
  }
}