.posts {
  padding-top: 100px;
  padding-bottom: 90px;

  &__container {
    @extend %container;
  }
}

.posts__title {
  font-family: $font-header;
  font-size: 2.5rem;
  color: #2d3651;
  margin-top: 3px;
  margin-bottom: 56px;
  letter-spacing: 0.1em;
}

.posts__grid {
  display: grid;
  grid-template-areas: "a1 a1 a2 a3" "a4 a5 a6 a6";
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
}


.post-item {

  background-color: #f2f2f2;
  transition: background-color 0.5s;
  
  &:hover {
    background-color: #d8d8d8;   
  }

  &__link {
    display: grid;
    height: 100%;
    grid-template-rows: 300px 1fr;
    overflow: hidden;
    
  }

  &__image {
      display: flex;
      align-content: center;
    justify-content: center;
    background-color: #2d3651;

    overflow: hidden;

    img {
      width: 100%;
      transition: transform 0.5s;
      object-fit: cover;
    }
  }

  &__content {
    padding: 20px;
    color: #637588;
    letter-spacing: 0.05em;
    line-height: 1.25;

    display: grid;
    align-content: center;

    h3 {
      font-family: "Roboto Slab", serif;
      font-size: 1.125rem;
      font-weight: bold;
      text-align: center;
    }
    p {
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      letter-spacing: 0.005em;
      margin-top: 6px;
      text-align: center;
    }
  }
}
.post-item:hover h3 {
    color: #2d3651;
  }
  
  .post-item:hover p {
    color: #2d3651;
  }
.post-item:hover .post-item__image img {
    transform: scale(1.1);
  }
.post-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

// .post-item {
//   transition: background-color 0.5s;

//   background-color: #f2f2f2;
// }

// .post-item:hover {
//   background-color: #d8d8d8;
// }

// .post-item:hover .post-item__image img {
//   transform: scale(1.1);
// }

// .post-item:hover h3 {
//   color: #2d3651;
// }

// .post-item:hover p {
//   color: #2d3651;
// }

// .post-item__link {
//   display: grid;
//   overflow: hidden;
//   height: 100%;
//   grid-template-rows: 300px 1fr;
// }

// .post-item__image {
//   display: flex;
//   overflow: hidden;
//   align-content: center;
//   justify-content: center;

//   background-color: #2d3651;
// }

// .post-item__image img {
//   width: 100%;
//   transition: transform 0.5s;
//   object-fit: cover;
// }

// .post-item__content {
//   display: grid;
//   align-content: center;

//   padding: 20px;
// }

// .post-item__content h3 {
//   transition: color 0.5s;
//   text-align: center;

//   font-family: "Roboto Slab", serif;
// }

// .post-item__content p {
//   transition: color 0.5s;
//   text-align: center;
// }
.post-item:nth-of-type(1) {
  grid-area: a1;
}

.post-item:nth-of-type(2) {
  grid-area: a2;
}

.post-item:nth-of-type(3) {
  grid-area: a3;
}

.post-item:nth-of-type(4) {
  grid-area: a4;
}

.post-item:nth-of-type(5) {
  grid-area: a5;
}

.post-item:nth-of-type(6) {
  grid-area: a6;
}



  