@mixin text-shortener {
  display: block;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin block-shortener($fz: 1rem, $lh: 1.5, $h: 70px, $l: 3) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;

  height: $h;

  font-size: $fz;
  line-height: $fz * $lh;

  -webkit-line-clamp: $l;
}

@mixin bg-color($a: 0, $rgb: 0) {
  background: rgba($rgb, $rgb, $rgb, $a);
}

@mixin block-header {
  margin: 0;
  padding-bottom: 10px;

  border-bottom: 1px solid $color-dark;
}

@mixin visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

@mixin absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
