.header-navbar {
  @include md {
    display: flex;
    justify-content: flex-end;
  }
  &__btn {
    position: relative;

    width: 30px;
    height: 22.5px;
    margin: 25px 0;

    cursor: pointer;
    transform: rotate(0deg);

    @include md-min {
      display: none;
    }

    &.open span {
      &:nth-child(1),
      &:nth-child(6) {
        transform: rotate(45deg);
      }
      &:nth-child(2),
      &:nth-child(5) {
        transform: rotate(-45deg);
      }
      &:nth-child(1) {
        top: 3.5px;
        left: 2.5px;
      }

      &:nth-child(2) {
        top: 3.5px;
        left: calc(50% - 2.5px);
      }
      &:nth-child(3) {
        left: -50%;

        opacity: 0;
      }

      &:nth-child(4) {
        left: 100%;

        opacity: 0;
      }

      &:nth-child(5) {
        top: 14.5px;
        left: 2.5px;
      }

      &:nth-child(6) {
        top: 14.5px;
        left: calc(50% - 2.5px);
      }
    }
  }
  &__batton {
    position: absolute;

    display: block;

    width: 50%;
    height: 3px;

    transition: 0.25s ease-in-out;
    transform: rotate(0deg);

    opacity: 1;
    background: #ffffff;

    &:nth-child(even) {
      left: 50%;

      border-radius: 0 3px 3px 0;
    }

    &:nth-child(odd) {
      left: 0;

      border-radius: 3px 0 0 3px;
    }

    &:nth-child(1),
    &:nth-child(2) {
      top: 0;
    }

    &:nth-child(3),
    &:nth-child(4) {
      top: 9px;
    }

    &:nth-child(5),
    &:nth-child(6) {
      top: 18px;
    }
  }

  &__list {
    margin: 0 -20px 0 0;
    padding: 0;

    list-style: none;

    @include md-min {
      display: grid;
      justify-content: end;

      grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    }
    @include md {
      position: absolute;
      top: 100%;
      right: 40px;

      display: none;

      text-align: right;

      background-color: rgba(#44596e, 0.8);
    }
    &.open {
      display: block;
    }
  }
  &__link {
    display: block;

    margin: 0 10px;
    padding: 10px;

    transition: color 0.5s;

    font-size: 1.125rem;
    &:hover,
    &:focus {
      color: #d66926;
    }
  }
}
