.header-content {
  position: relative;
  &__container {
    @extend %container;
  }
  &__title {
    text-align: center;

    @include sm {
      max-width: 310px;
      margin: 0 auto 38px auto;

      line-height: 1.33em;
    }
    @media (min-width: $lg) {
      margin: 0 0 53px 0;
    }
    @media (max-width: $lg - 0.2) and (min-width: $md) {
      margin: 0 0 43px 0;
    }
    @media (max-width: $md - 0.2) {
      margin: 0 0 31px 0;
    }
  }
  &__actions {
    display: flex;
    justify-content: center;

    gap: $gap;
    @include sm {
      align-items: center;
      flex-direction: column;
    }
  }
}
