.skills {
  @include sm-min {
    margin-bottom: 30px;
    padding: 10px;
  }
  @include sm {
    padding: $gap 22px;
  }
  &__container {
    display: grid;

    @include lg-min {
      gap: 10px;
      grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
    }
    @include lg-md {
      gap: 10px;
      grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
    }
    @include md-sm {
      gap: 10px;
      grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
    }
    @include sm {
      max-width: 532px;

      gap: $gap;
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
    }
    @media (min-height: 691px) {
      grid-auto-rows: calc(33.33333vh - 40px / 3);
    }
    @media (max-height: 690px) {
      grid-auto-rows: 200px;
    }
  }
  &__actions {
    display: flex;
    justify-content: center;

    margin-top: 19px;

    @include md-sm {
      margin-left: 10px;
      padding-bottom: 2px;
    }
    @include sm {
      max-width: 532px;
      margin-bottom: 1px;
    }
  }
}
